body { 
    background-color: #171c28;
    color: white;
    font-size: 100%;
}


html, body, div, h1, h2, ul, li {

margin: 0;
padding: 0;
width: 100%;


}

h1 {

font-size: 4em;
border-bottom: 1px solid #999;
}


h1, ul {
text-align: center;

}
ul {
	margin-top: 25px;
	list-style-type: none; 

}

input {

margin-top: 20px;
}


li {

	margin-bottom: 10px;
	
	font-size: 3em;

}

a {

text-decoration: none;

}
a:link { background-color: yellow; }

a:visited { background-color: cyan; }

a:hover { background-color: lightgreen; }

a:active { background-color: hotpink; }

p {

	background-color: red;

}