body { 
    padding-top: 150px; 
    background-color: #171c28;
    color: white;
}

html, body, div, h1, h2, ul, li {

margin: 0;
padding: 0;
width: 100%;

}

ul {

	list-style-type: none; 

}


li {

	margin-bottom: 10px;

}

p {

	background-color: red;

}