<title>home again</title>
		<ul> 
			<li class={{$ctrl.w3css.listHeader}}><div>
				<a href="#!list-of-quizes-page" class="w3-button">
					<h1>{{quizTitle}}</h1>
				</a>
			<br />
					<h2 class={{$ctrl.w3css.currentListItem}}>
				{{$ctrl.quizListItems[$ctrl.counter -1]}}
					</h2>
			</li>

		
		
		<li ng-click="$ctrl.handlelistItemClick()" ng-repeat="quizItem in quizItems track by $index">
			{{quizItem}}
		</li>
		</ul>


<h2>{{update}}</h2>
<footer class={{$ctrl.w3css.footer}}>
			<button class={{$ctrl.w3css.playButton}} style="width:50%" ng-click="$ctrl.playButton()">shuffle</button>
		
		<button class={{$ctrl.w3css.unshuffleButton}} style="width:50%" ng-click="$ctrl.unshuffleButton()">unshuffle</button>
		
		
		
		
		<!--
		
			<button class={{$ctrl.w3css.inviteButton}} style="width:50%" ng-click="$ctrl.invite()">Invite</button>
			<p>{{gameId}}</p>
			
		--> 
</footer> 