<header>
	<h1 ng-click="$ctrl.headingClicked()">
		{{listTitle}}
	</h1>
	<br />
	<h2 class={{$ctrl.w3css.currentListItem}}>
		{{$ctrl.quizListItems[$ctrl.counter -1]}}
	</h2>
	<button id="loginButton" ng-click="$ctrl.loginButton()">
		login
	</button>
	<a href="#!challengers-list">
			number of challenges : {{4 + 3}}
	</a>
</header>
<ul> 
	<li ng-click="$ctrl.handlelistItemClick()" 
			ng-repeat="listItem in listItems track by $index">
				{{listItem.$value}}
				<button ng-click="listItems.$remove(listItem)">x</button>
	</li>
</ul>
<footer class={{$ctrl.w3css.footer}}>
		<button 
			class={{$ctrl.w3css.playButton}} 
			style="width:50%" 
			ng-click="$ctrl.playButton()">
			shuffle
		</button>
		<button 
			class={{$ctrl.w3css.unshuffleButton}} 
			style="width:50%" 
			ng-click="$ctrl.unshuffleButton()">
			unshuffle
		</button>
			<button class={{$ctrl.w3css.inviteButton}} style="width:50%" ng-click="$ctrl.challengeButton()">issue challenge</button>
			<button ng-click="$ctrl.startButton()">Start</button>
</footer> 	
		
		
	
		
		
			
		
