
		<ul> 
			<li class={{$ctrl.w3css.listHeader}}><div>
				<a href="#!list-of-quizes-page" class="w3-button">
					<h1>Bible Books</h1>
				</a>
			<br />
					<h2 class={{$ctrl.w3css.currentListItem}}>
				{{$ctrl.quizListItems[$ctrl.counter -1]}}
					</h2>
			</li>

		
		
		<li ng-click="$ctrl.handlelistItemClick()" ng-repeat="listItem in listItemsToDisplay track by $index">
			{{listItem}}
		</li>
		</ul>


<footer class={{$ctrl.w3css.footer}}>
			<button class={{$ctrl.w3css.playButton}} style="width:50%" ng-click="$ctrl.playButton()">Play</button>
			<button class={{$ctrl.w3css.inviteButton}} style="width:50%" ng-click="$ctrl.invite()">Invite</button>
			<p>{{gameId}}</p>
</footer>