<div>
	<header>
		<h1>Choose a Subject</h1>
		<a href="#!login">
			<button>
				login
			</button>
		<a/>
	</header>
	<div>  
		<ul>
			<!-- list drawn from firebase database-->
			<li ng-click="$ctrl.handleListClicked()"
					ng-repeat="listTitle in listTitles track by $index">
						{{listTitle}}	
			</li>
		</ul>
	</div>
	
	<input type="text" ng-model="person"/>
	
	<footer class={{$ctrl.w3css.footer}}>
		<a href="#!new-list">
			<button class="{{$ctrl.w3css.button}}" style="width:100%">
				create new list
			</button>
		<a/>
	</footer>
</div>

